.cheatsheet-hooklist .hook-name .part-1  {
  font-weight: bold;
}

.cheatsheet-hooklist .hook-param {
  font-style: italic;
}

.cheatsheet-hooklist .hook-param .hook-param-part-spacer {
  margin-right: 3px;
}
